.App {
  text-align: center;
}

.App-header {
  height: 5em;
}

.App-logo {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -5;
  text-align: center;
  /*animation: App-logo-spin infinite 20s linear;
  height: 80px;*/
}

.App-title {
  font-size: 1.5em;
  color: #588B8B;
  z-index: 2;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
